<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ProjetWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VilleController</display-name>
    <servlet-name>VilleController</servlet-name>
    <servlet-class>controller.VilleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VilleController</servlet-name>
    <url-pattern>/VilleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoneController</display-name>
    <servlet-name>ZoneController</servlet-name>
    <servlet-class>controller.ZoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneController</servlet-name>
    <url-pattern>/ZoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacienController</display-name>
    <servlet-name>PharmacienController</servlet-name>
    <servlet-class>controller.PharmacienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacienController</servlet-name>
    <url-pattern>/PharmacienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeController</display-name>
    <servlet-name>GradeController</servlet-name>
    <servlet-class>controller.GradeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeController</servlet-name>
    <url-pattern>/GradeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacieController</display-name>
    <servlet-name>PharmacieController</servlet-name>
    <servlet-class>controller.PharmacieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacieController</servlet-name>
    <url-pattern>/PharmacieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmaciedegardeController</display-name>
    <servlet-name>PharmaciedegardeController</servlet-name>
    <servlet-class>controller.PharmaciedegardeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmaciedegardeController</servlet-name>
    <url-pattern>/PharmaciedegardeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacieDeGardeController</display-name>
    <servlet-name>PharmacieDeGardeController</servlet-name>
    <servlet-class>controller.PharmacieDeGardeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacieDeGardeController</servlet-name>
    <url-pattern>/PharmacieDeGardeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recherch</display-name>
    <servlet-name>recherch</servlet-name>
    <servlet-class>controller.recherch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recherch</servlet-name>
    <url-pattern>/recherch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoneByVilleController</display-name>
    <servlet-name>ZoneByVilleController</servlet-name>
    <servlet-class>controller.ZoneByVilleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneByVilleController</servlet-name>
    <url-pattern>/ZoneByVilleController</url-pattern>
  </servlet-mapping>
</web-app>